{% extends 'FunOldiesMainBundle::layout.html.twig' %}

{% block title %}
    Fun Oldies
{% endblock %}

{% block description %}
    <meta name="description" content=""/>
    <meta property="og:site_name" content="http://funoldies.gcmaz.com" />
    <meta property="fb:admins" content="100003228578475" />
    <meta property="fb:app_id" content="479469978793919" />
    <meta property="og:type" content="music.radio_station" />   
    <meta property="og:image" content="http://funoldies.gcmaz.com{{ asset('images/660x250/.jpg') }}"/>
    <meta property="og:url" content="http://funoldies.gcmaz.com{{ path('fo_splash') }}"/>
    <meta property="og:title" content=""/> 
    <meta property="og:description" content=""/>
{% endblock %}

{% block keywords %}
    <meta name="keywords" content=""/>
{% endblock %}
    
{% block content %}
    <div class="splash" style="background-color:#fff;">
        
    </div>
{% endblock %}