{% extends 'FunOldiesMainBundle::layout.html.twig' %}

{% block title %}
    Community Information - Prescott - Prescott Valley - Northern Arizona
{% endblock %}

{% block description %}
    <meta name="description" content="Community Information - Prescott - Northern Arizona"/>
    <meta property="og:site_name" content="http://funoldies.gcmaz.com" />
    <meta property="fb:admins" content="100003228578475" />
    <meta property="fb:app_id" content="479469978793919" />
    <meta property="og:type" content="activity" />   
    <meta property="og:image" content="http://funoldies.gcmaz.com{{ asset('images/logo-oldies.png') }}"/>
    <meta property="og:url" content="http://funoldies.gcmaz.com{{ path('fo_community') }}"/>
    <meta property="og:title" content="Community Information - Prescott - Prescott Valley - Northern Arizona"/> 
    <meta property="og:description" content="Community Information - Prescott - Prescott Valley - Northern Arizona"/>
{% endblock %}

{% block keywords %}
    <meta name="keywords" content="Community, Prescott, Prescott Valley, Northern Arizona"/>
{% endblock %}
    
{% block content %}
    <h2 class="cinzel">Northern Arizona Community</h2>
    <iframe src="http://www.funoldies.com/community2.php" width="660" height="1500"></iframe>
    <br/>
    <div class="fb-like" data-href="http://funoldies.gcmaz.com{{ path('fo_community') }}" data-send="true" data-width="450" data-show-faces="true" data-font="arial"></div>
{% endblock %}